@using BTCPayServer
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Data
@using BTCPayServer.Payments
@using BTCPayServer.Plugins.USDt.Configuration
@using BTCPayServer.Plugins.USDt.Controllers
@using BTCPayServer.Plugins.USDt.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager;
@inject USDtPluginConfiguration USDtPluginConfiguration;
@inject IScopeProvider ScopeProvider
@inject UIEthErc20LikeStoreController UIEthErc20LikeStore;
@inject EthErc20RPCProvider EthErc20RPCProvider;
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (SignInManager.IsSignedIn(User) && USDtPluginConfiguration.EthereumErc20LikeConfigurationItems.Any())
{
    var store = Context.GetStoreData();
    var result = UIEthErc20LikeStore.GetVM(store);

    foreach (var item in result.Items)
    {
        var isAvailable = EthErc20RPCProvider.IsAvailable(item.PaymentMethodId);
        var isActive = !string.IsNullOrEmpty(storeId) && ViewContext.RouteData.Values.TryGetValue("Controller", out var controller) && controller is not null &&
                       nameof(UIEthErc20LikeStoreController).StartsWith(controller.ToString() ?? string.Empty, StringComparison.InvariantCultureIgnoreCase) &&
                       ViewContext.RouteData.Values.TryGetValue("paymentMethodId", out var paymentMethodId) && paymentMethodId is not null && new PaymentMethodId((string)paymentMethodId) == item.PaymentMethodId;
        <li class="nav-item">
            <a class="nav-link @(isActive ? "active" : "")"
               asp-route-paymentMethodId="@item.PaymentMethodId"
               asp-route-storeId="@storeId"
               asp-action="GetStoreEthErc20LikePaymentMethod"
               asp-controller="UIEthErc20LikeStore">
                <span class="me-2 btcpay-status btcpay-status--@(item.Enabled ? isAvailable ? "enabled" : "disabled" : "pending")"></span>
                <span>@item.DisplayName</span>
            </a>
        </li>
    }
}
