@using BTCPayServer
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using BTCPayServer.Data
@using BTCPayServer.Payments
@using BTCPayServer.Plugins.USDt
@using BTCPayServer.Plugins.USDt.Configuration
@using BTCPayServer.Plugins.USDt.Controllers
@using BTCPayServer.Views.Server
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager;
@inject USDtPluginConfiguration USDtPluginConfiguration;
@inject IScopeProvider ScopeProvider

@if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.ServerAdmin) && USDtPluginConfiguration.EVMUSDtLikeConfigurationItems.Any())
{
    foreach (var item in USDtPluginConfiguration.EVMUSDtLikeConfigurationItems)
    {
        var activeKey = $"EVM-{item.Key}";
        <li class="nav-item nav-item-sub" permission="@Policies.CanModifyServerSettings">
            <a asp-controller="UIEthUSDtLikeServer" asp-action="GetServerConfig"
               asp-route-paymentMethodId="@item.Key"
               class="nav-link @ViewData.ActivePageClass(USDtPlugin.PluginNavKey, typeof(ServerNavPages).ToString(), activeKey)">USD₮ on @item.Value.Chain</a>
        </li>
    }
}
