@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Plugins.TronUSDt.Configuration
@using BTCPayServer.Plugins.TronUSDt.Controllers
@using BTCPayServer.Plugins.TronUSDt.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager;
@inject TronUSDtLikeConfiguration TronUSDtLikeConfiguration;
@inject IScopeProvider ScopeProvider
@inject UITronUSDtLikeStoreController UITronUSDtLikeStore;
@inject TronUSDtRPCProvider TronUSDtRPCProvider;
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (SignInManager.IsSignedIn(User) && TronUSDtLikeConfiguration.TronUSDtLikeConfigurationItems.Any())
{
    var store = Context.GetStoreData();
    var result = UITronUSDtLikeStore.GetVM(store);

    foreach (var item in result.Items)
    {
        var isAvailable = TronUSDtRPCProvider.IsAvailable(item.CryptoCode);
        var isActive = !string.IsNullOrEmpty(storeId) && ViewContext.RouteData.Values.TryGetValue("Controller", out var controller) && controller is not null &&
                       nameof(UITronUSDtLikeStoreController).StartsWith(controller.ToString() ?? string.Empty, StringComparison.InvariantCultureIgnoreCase) &&
                       ViewContext.RouteData.Values.TryGetValue("cryptoCode", out var cryptoCode) && cryptoCode is not null && cryptoCode.ToString() == item.DisplayName;
        <li class="nav-item">
            <a class="nav-link @(isActive ? "active" : "")"
               asp-route-cryptoCode="@item.CryptoCode"
               asp-route-storeId="@storeId"
               asp-action="GetStoreTronUSDtLikePaymentMethod"
               asp-controller="UITronUSDtLikeStore">
                <span class="me-2 btcpay-status btcpay-status--@(item.Enabled ? isAvailable ? "enabled" : "disabled" : "pending")"></span>
                <span>@item.DisplayName</span>
            </a>
        </li>
    }
}